<div class="rentals">
  <label>
    <span>Where would you like to stay?</span>
    <Input @value={{this.query}} class="light"/>
  </label>

  <ul class="results">
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
      {{#each results as |rental|}}
        <li>
          <Rental 
              @rental={{rental}}
              @initial={{concat "Mr" (substring rental.title start=0 end=1)}} 
          />
        </li>
      {{/each}}
    </Rentals::Filter>
  </ul>
</div>